.ui-color-default {
    color: #3d4145;
}
.ui-color-gray {
    color: #999;
}
.ui-color-primary {
    color: #0894ec;
}
.ui-color-success {
    color: #4cd964;
}
.ui-color-danger {
    color: #f6383a;
}
.ui-color-warning {
    color: #f60;
}

